@charset "utf-8";
/* CSS Document */


blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
	margin:0;
	padding:0
}
body, button, input, select, textarea {
	font:12px/1.5 tahoma, arial, 'Hiragino Sans GB', \5b8b\4f53, sans-serif
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	
}
address, cite, dfn, em, var {
	font-style:normal
}

small {
	font-size:12px
}
ol, ul {
	list-style:none
}
a {
	text-decoration:none
}
a:hover {
	text-decoration:underline
}
sup {
	vertical-align:text-top
}
sub {
	vertical-align:text-bottom
}

fieldset, img {
	border:0;
	vertical-align:top
}
button, input, select, textarea {
	font-size:100%
}
table {
	border-collapse:collapse;/* 重合的边框 合并*/
	border-spacing:0
}

.clear {
	clear:both;
	height:0;
	font-size:0;
	overflow:hidden
}
.clearfix:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
.clearfix {
	clear:both;
	zoom:1
}

/*-------------------------------------------清除默认*/
/*---------横向分区---------------*/
.header { height:90px;}
.banner { height:170px;}
.artcile { height:570px;margin-bottom:120px; margin-top:-50px}
.footer{ height:140px; background-color:#525e6a}
/*------------纵向分区----------------------*/
.container{ width:1000px; margin: 0 auto; height:100%}
/*-------细化分区------------*/
.tip { height:50px; background-color:#f7f8fa}
.order{ float:left; width:250px; background-color:#ffffff; height:520px}
.bind{ float:left; width:750px;height:520px}
/*-------填充内容-----------*/
/*----------------header-----------------------------*/
.container .hd{ float:left; margin-top:15px}
.container .hea{float:right; border-right:1px dashed #eaeaea}
.container .hea .der{float:left; width:120px; text-align:center; height:60px; border-left:1px dashed #eaeaea; padding-top:30px;}
.container .hea .der a{ display:block; font-size:18px; color:#b8b9bb; height:57px; border-bottom:3px solid transparent}
.container .hea .der a:hover{color:#4270a2; border-bottom:3px solid #4270a2}
.container .hea .der .active{color:#4270a2;border-bottom:3px solid #4270a2}
.container .hea .der span{ display:block; font-size:10px}
/*--------header 结束-----------------*/
/*---------banner-----------------*/
.banner { background-image:url(banner-acc.jpg); background-repeat:no-repeat ;}
.banner p{text-align:center; padding-top:45px; font-size:25px;}
.banner p span{ display:block; font-size:10px; color:#8f8f8f}
/*----------artcile--------------*/
.tip .top{ float:left; margin-left:35px}
.tip .tap{ float:right}
.tip .top a{ height:50px; line-height:50px; margin-left:10px; color:#767676}
.tip .tap a{ float:left; width:120px; height:50px; line-height:50px; border-left:1px solid #eaeaea; text-align:center; color:#767676}
.tip .top a:hover{ color:#4270a2}
.tip .tap a:hover{ color:#4270a2}
/*----------order-------------*/
.order .ord{margin-left:55px; padding-top:45px}
.order .ord .od{ margin-bottom:50px}
.order .ord h1{ font-size:24px; color:#242424}
.od ul li{ margin-top:5px; }
.od ul li a{ font-size:14px;color:#767676}
.od ul li a:hover{ color:#4270a2}
.od ul .active a{color:#4270a2}
/*--------bind-----------*/

.bind .tad{ margin-left:45px; margin-top:35px }
.sd{font-size:30px; border-bottom:2px solid #eaeaea}
.bind ul{ margin-top:50px;}
.bind .ind{ float:left}
.in{ float:left;text-indent:2em; width:500px; margin-left:30px}
.in a{ margin-left:30px; color:#252525}
.in a:hover{ color:#33caf7}
.in .active{ color:#33caf7 }
/*-----footer--------*/

.container .ter{ float:left; margin-top:50px}
.container .foot{ float:left; margin-top:40px; margin-left:20px; color:#a4b7c8}
.container .foot p{ margin-top:5px}
.container .foot p a{ color:#a4b7c8}